@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,700';
body{background: #ed1c24; margin: 0px; padding: 0px;}
svg{width: 500px; height: 500px; position: absolute; top: 50%; left: 50%; margin: -250px 0 0 -250px;}
h1, h2, h3, h4{ font-size: 2em;	padding: 0px; margin: 10px; font-family: 'Work Sans', sans-serif; font-weight: 300; color: white;}
h2{position: fixed; right: 0px; top: 0px;}
h3{position: fixed; left: 0px; bottom: 0px;}
h4{position: fixed; right: 0px; bottom: 0px;}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
svg {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}